<p id="notice"><%= notice %></p>

<p>
  <strong>Form:</strong>
  <%= @classroom.number %>
</p>

<p>
  <strong>Year:</strong>
  <%= @classroom.year %>
</p>
<p>
  <strong>Stream:</strong>
  <%= @classroom.stream_id %>
</p>


<%= link_to 'Edit', edit_classroom_path(@classroom) %> |
<%= link_to 'Back', classrooms_path %>
