<% title "SchoolSys :: Dormitories" %> 

<p id="notice"><%= notice %></p>

<h1>Listing Dormitories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Matron</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dormitories.each do |dormitory| %>
      <tr>
        <td><%= dormitory.name %></td>
        <td><%= dormitory.description %></td>
        <td><%= dormitory.matron %></td>
        <td><%= link_to 'Show', dormitory %></td>
        <td><%= link_to 'Edit', edit_dormitory_path(dormitory) %></td>
        <td><%= link_to 'Destroy', dormitory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dormitory', new_dormitory_path %>
