<% title "SchoolSys :: Dorm" %> <!-- find a way to change the word dorm to include the dorm name -->
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dormitory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dormitory.description %>
</p>

<p>
  <strong>Matron:</strong>
  <%= @dormitory.matron %>
</p>

<%= link_to 'Edit', edit_dormitory_path(@dormitory) %> |
<%= link_to 'Back', dormitories_path %>
