<% title "SchoolSys :: Subject" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Abbr:</strong>
  <%= @subject.abbreviation %>
</p>

<p>
  <strong>Teacher:</strong>
  <%#= @subject.teacher.fullname %><!-- ticket raised. find out whats wrong with this kid. also remember we shall be changing it to take multiple teachers at the same time-->
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
