<% title "SchoolSys :: Teacher" %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @teacher.fullname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @teacher.gender %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @teacher.employer %>
</p>

<p>
  <strong>Employee number:</strong>
  <%= @teacher.employee_number %>
</p>

<p>
  <strong>Employment date:</strong>
  <%= @teacher.employment_date %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @teacher.birthdate %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @teacher.marital_status %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @teacher.nationality %>
</p>

<p>
  <strong>Home address:</strong>
  <%= @teacher.home_address %>
</p>

<p>
  <strong>Phone 1:</strong>
  <%= @teacher.phone_1 %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= @teacher.phone_2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @teacher.email %>
</p>

<p>
  <strong>Town:</strong>
  <%= @teacher.town %>
</p>

<p>
  <strong>County:</strong>
  <%= @teacher.county %>
</p>

<p>
  <strong>Education:</strong>
  <%= @teacher.education %>
</p>

<p>
  <strong>Certifications:</strong>
  <%= @teacher.certifications %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @teacher.subjects %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @teacher.image.url(:medium) %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
