<% title "SchoolSys :: Fee Management" %>

<div class="container">
	<div class="row">
		<div class="col-lg-6">
			<p>
				<strong>Pay Fees</strong><br>
				<%= link_to 'Make Payment', pay_fees_path %>
			</p>
		</div>
		<div class="col-lg-6">
			<p>
				<strong>Pay other</strong><br>
				<%= link_to 'Make Payment', pay_others_path %>
			</p>
		</div>
	</div>
	<div class="row">
		<h1>Payments</h1>
		<div class="col-lg-4">
			<h3>General</h3>
			<!-- write filters for this to base results on class room and not to preview any unless clicke. the click/link takes you to a partial having the detals-->
			<!-- it is from within the partial having the classroom that you can search individual records etc-->
			<%= link_to "Form One" %><br>
			<%= link_to "Form Two" %><br>
			<%= link_to "Form Three" %><br>
			<%= link_to "Form Four" %>

		</div>
		<div class="col-lg-4">
			<h3>Fee balance</h3>
			<%= link_to "Form One" %><br>
			<%= link_to "Form Two" %><br>
			<%= link_to "Form Three" %><br>
			<%= link_to "Form Four" %>

		</div>
		<div class="col-lg-4">
			<h3>Charts</h3>
			<%= link_to "Form One" %><br>
			<%= link_to "Form Two" %><br>
			<%= link_to "Form Three" %><br>
			<%= link_to "Form Four" %>
		</div>
	</div>
</div>