<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<nav>
		<%= link_to 'Home', root_path %>
		<% if user_signed_in? %>
			<%= link_to 'Events', events_path %>
			<!-- to determine real nav location later-->
			<%= link_to 'Students', students_path %><!-- parents?-->
			<%= link_to 'Teachers', teachers_path %><!-- teachers?-->
			<%= link_to 'Subjects', subjects_path %>
			<%= link_to 'Library', library_index_path %>
			<%= link_to 'Dorms', dormitories_path %>
			<%= link_to 'Exams', exams_path %>
			<%= link_to 'Department', departments_path %>
			
			
			<!-- link to admit students. its just the new student form anyway -->
			<%= link_to 'Admit Student', new_student_path %><!-- Admin and Allowed Teachers -->
			<%= link_to 'Add teacher', new_teacher_path %><!--Admin only-->
			
			<!-- to remove later -->
			<%= link_to 'Current Users', users_index_path %>			
			<%= render 'layouts/teachers_nav' %>
			<%= render 'layouts/parents_nav' %>
			<%= render 'layouts/accounts_nav' %>
			<strong><%= link_to current_user.username, edit_user_registration_path%></strong>
			<%= link_to 'Sign Out', destroy_user_session_path, :method=>'delete' %>
		<% else %>
			<%= link_to 'Sign In', new_user_session_path %>
			<%= link_to 'Sign Up',  new_user_registration_path %>
		<% end %>
	</nav>
	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
	
	<%= yield %>
</div>

</body>
</html>
